In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
import os
os.getcwd()

'C:\\Users\\Tanvir'

In [4]:
os.chdir('D:\ML_Program\Data')

In [5]:
os.getcwd()

'D:\\ML_Program\\Data'

In [6]:
df=pd.read_csv('Height-Weight-Data.csv')

In [7]:
df

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
3496  69.296830  185.649086
3497  70.542201  210.198845
3498  73.912549  202.429960
3499  67.396021  144.277671
3500  72.738970  187.222909

[3501 rows x 2 columns]

In [8]:
df.head(3)

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856

In [9]:
df.tail()

         Height      Weight
3496  69.296830  185.649086
3497  70.542201  210.198845
3498  73.912549  202.429960
3499  67.396021  144.277671
3500  72.738970  187.222909

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
#desired range transform data
m=MinMaxScaler(feature_range=(2,5))

In [12]:
mr_fit=m.fit(df[['Height']]) #fit height column

In [13]:
mr_fit

MinMaxScaler(feature_range=(2, 5))

In [14]:
df['Height']=m.transform(df[['Height']])

In [15]:
df['Height'].tail()

3496    3.516383
3497    3.706825
3498    4.222219
3499    3.225711
3500    4.042755
Name: Height, dtype: float64

# Robust

In [17]:
from sklearn.preprocessing import RobustScaler

In [19]:
m1=RobustScaler()

In [21]:
mr1_fit=m1.fit(df[['Height']])

In [22]:
mr1_fit

RobustScaler()

In [23]:
df['Height']=m1.transform(df[['Height']])

In [24]:
df['Height'].head()

0    1.269587
1   -0.069339
2    1.339132
3    0.710228
4    0.221410
Name: Height, dtype: float64

In [25]:
df.head()

     Height      Weight
0  1.269587  241.893563
1 -0.069339  162.310473
2  1.339132  212.740856
3  0.710228  220.042470
4  0.221410  206.349801

# Max Absolute Scaler

In [26]:
from sklearn.preprocessing import MaxAbsScaler

In [27]:
m2=MaxAbsScaler()

In [28]:
mr2_fit=m1.fit(df[['Height']])

In [29]:
mr2_fit

RobustScaler()

In [30]:
df['Height']=m1.transform(df[['Height']])

In [31]:
df['Height'].head()

0    1.269587
1   -0.069339
2    1.339132
3    0.710228
4    0.221410
Name: Height, dtype: float64

In [32]:
df

        Height      Weight
0     1.269587  241.893563
1    -0.069339  162.310473
2     1.339132  212.740856
3     0.710228  220.042470
4     0.221410  206.349801
...        ...         ...
3496  0.066778  185.649086
3497  0.395983  210.198845
3498  1.286910  202.429960
3499 -0.435687  144.277671
3500  0.976683  187.222909

[3501 rows x 2 columns]